@model IEnumerable<CarsTK.Models.Cars.CarIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Cars" type="submit" class="btn btn-primary">Create</a>
</div>


<div class="h1">
    Cars
</div>
<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cars in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@cars.Name</td>
                    <td>@cars.Price</td>
                    <td>
                        <a asp-action="details" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-info">Details</a>
                        <a asp-action="update" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="cars" asp-route-id="@cars.Id" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>

                rowNumber += 1;
            }
        </tbody>
    </table>
</form>